<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/stylesheets/subs-style.css">
    >

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">


    <title>Subscribe</title>
</head>

<body>
    <nav>
        <h1>Rumble-On</h1>
        <ul class="nav justify-content-end">
            <li class="nav-item">
                <button id="home-btn">Home</button>
            </li>
            <li class="nav-item">
                <!-- <a class="nav-link" href="#">Login</a> -->
                <a href="subscribe-test.html"> <button id="login-btn">Login</button></a>
        </ul>
    </nav>


    <div class="container mt-4">
        <div class="card">
            <div class="card-header">
                <h4>Register Form</h4>
            </div>
            <div class="card-body">
                <form action="/user/subscribe" method="POST">
                    <div class="form-group">
                        <label for="email">Name</label>
                        <input type="text" class="form-control" id="name" name="name">

                    </div>
                    <div class="form-group">
                        <label for="email">Email address</label>
                        <input type="text" class="form-control" id="email" name="email">

                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="text" class="form-control" id="password" name="password">

                    </div>
                    <div class="form-group">
                        <label for="passwordConfirm">Confirm Password</label>
                        <input type="text" class="form-control" id="passwordConfirm" name="passwordConfirm">

                    </div>
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Remember me</label>
                    </div>
                    <button type="submit" class="btn btn-primary">Register User</button>
                </form>
            </div>
        </div>
        <!-- handlebars -->
        <!-- {{#if message}}
        <h4 class="alert alert-danger mt-4">{{message}}</h4>
        {{/if}} -->
    </div>
    <br>
    <footer>
        <p>Already have an account? click here</p>

        <!-- MODAL -->

        <div class="popup">
            <div class="close-btn">&times;</div>
            <div class="form">
                <h2>Log in</h2>
                <div class="form-element">
                    <label form="email">Email</label>
                    <input type="text" id="email" placeholder="Enter email">
                </div>
                <div class="form-element">
                    <label for="password">Password</label>
                    <input type="password" id="password" placeholder="Enter password">
                </div>
                <div class="form-element">
                    <input type="checkbox" id="remember-me">
                    <label for="remember-me">Remember me</label>
                    <div class="form-element"><button>Sign in</button></div>
                    <a href="#">Forgot Password</a>
                </div>
            </div>
        </div>



    </footer>

</body>
<script src="/public/javascript/login.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</html>