


  <section class="header">
    <div class="container">
      <img scr="/public/images/logo.png">
      <button type="button" class="login-btn">Login</button>

    </div>
    <div class="input">
      <h1>Travel with Ramble-On across the world!</h1>
      <p>Subscribe</p>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search Country or City">
        <div class="input-group-append">
          <button type="submit" class="input-group-text btn">Search</button>
        </div>
      </div>
    </div>
  </section>
  <section class="features">
    <h1>Featured Destination</h1>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="feature-box">
            <div class="feature-img">
              <img src="/public/images/travel-1.jpg">
              <!-- <div class="rating">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
              </div> -->
            </div>
            <div class="feature-details">
              <h4>Santori Greek</h4>
              <p>Oia is a coastal town on the northwestern tip of Santorini, a Greek Aegean island. The town has
                whitewashed houses carved into the rugged clifftops, and overlooks a vast caldera filled with water</p>
              <!-- <div>
                <span><i class="fas fa-map-marker"></i></span>
                <span><i class="fas fa-map-marker"></i></span>
                <span><i class="fas fa-map-marker"></i></span>
              </div> -->
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="feature-box">
            <div class="feature-img">
              <img src="/public/images/travel-2.jpg">
              <!-- <div class="rating">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
              </div> -->
            </div>
            <div class="feature-details">
              <h4>Paris France</h4>
              <p>The Trocadéro, site of the Palais de Chaillot, Paris, France, in the 16th arrondissement,across the
                Seine from the Eiffel Tower. Also the name of the 1878 palace which was demolished in 1937.</p>
              <!-- <div>
                <span><i class="fas fa-map-marker"></i></span>
                <span><i class="fas fa-map-marker"></i></span>
                <span><i class="fas fa-map-marker"></i></span>
              </div> -->
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="feature-box">
            <div class="feature-img">
              <img src="/public/images/travel-3.jpg">
              <!-- <div class="rating">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star-half-alt"></i>
            </div> -->
            </div>
            <div class="feature-details">
              <h4>Venice Beach Los Angeles</h4>
              <p>The World famous Venice Beach Boardwalk is not to be missed. If you are visiting the Los Angeles area,
                you owe it to yourself to come to Southern California’s number one visitor attraction. </p>
              <!-- <div>
              <span><i class="fas fa-map-marker"></i></span>
              <span><i class="fas fa-map-marker"></i></span>
              <span><i class="fas fa-map-marker"></i></span>
            </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="gallery">
    <h1>Ramble-On Gallery</h1>

    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="gallery-box">
            <img src="/public/images/Venice.jpg">
            <h4>Venice Italy</h4>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <div class="gallery-box">
            <img src="/public/images/india.jpg">
            <h4>India</h4>
          </div>
        </div>
  </section>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="gallery-box">
        <img src="/public/images/Salt Lake-Utah.jpg">
        <h4>Salt Lake Utah</h4>
      </div>
    </div>
  </div>
  </div>
  </section>
