<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <title>Subscribe</title>
</head>
<body>
    <nav>
        <h4>Rumble-On</h4>
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="">Login</a></li>
            <li><a href="">Subcribe</a></li>
        </ul>
    </nav>

    <div class="container mt-4">
        <div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1>Login</h1>      
    <p>Please login with you user name and password.</p>
    <a class="btn btn-primary btn-lg" href="#" role="button"></a>
  </div>
</div>

<div class="container">
  <p>This is some text.</p>      
  <p>This is another text.</p>      
</div>

    </div>







<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
