* {
  padding: 0;
  margin: 0;
}
.header {
  /* background-size: cover; */
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(/public/images/banner2.jpg);
  /* height: auto;
  background-position: center;
  background-attachment: fixed; */
  padding-top: 20px;
  text-align: center;
  color: #fff;
}
.header img {
  width: 170px;
  float: left;
}

.login-btn {
  width: 100px;
  padding: 8px 0;
  outline: none !important;
  border: 2px solid #fff;
  border-radius: 50px;
  background: transparent;
  color: #fff;
  float: right;
}
.input {
  align-items: center;
}
.header h1 {
  padding-top: 200px;
  padding-bottom: 20px;
  font-size: 50px;
}
.header p {
  margin: 18px 0;
  font-size: 25px;
}

.input-group {
  width: 90%;
  max-width: 500px;
  border-radius: 30px;
  background: #fff;
  margin: auto;
  padding: 2px;
}

.form-control {
  border: 0 !important;
  border-radius: 30px !important;
  margin: 2px;
  box-shadow: none !important;
}
.input-group-text {
  width: 100px;
  background-image: linear-gradient(#00ff7e, #1f3d90);
  border: 0 !important;
  color: #fff !important;
  padding: 0 25px !important;
  border-radius: 30px !important;
  box-shadow: none !important;
}

/*features*/

.features {
  padding: 100px 0;
  padding-left: 10%;
}
h1 {
  text-align: center;
  padding-bottom: 30px;
}

.feature-img {
  position: relative;
}
.feature-img img {
  width: 100%;
}

.features .fas {
  font-size: 15px;
  color: #ff5722;
}
.feature-details .fas {
  box-shadow: 0 0 10px 1px rgba(37, 73, 214, 0.18);
}
.feature-details {
  padding: 20px;
  text-align: justify;
}

.feature-details h4 {
  font-weight: 600;
  margin-top: 20px;
}

.feature-box {
  box-shadow: 0 0 10px 1px rgba(37, 73, 214, 0.18);
  margin-bottom: 30px;
}
.gallery {
  padding: 100px 0;
  background: #efefef;
}

.gallery p {
  font-size: 25px;
  text-align: center;
}

.gallery-box img {
  width: 100%;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.gallery-box img :hover {
  transform: scale(1.1);
}

.gallery-box h4 {
  display: block;
  color: #fff;
  text-shadow: -2px 2px 2px #000;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  font-weight: 600;
}

.gallery-box {
  position: relative;
  margin-bottom: 30px;
}
.banner {
  height: 80%;
  background-image: url(/public/images/banner3.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
